<div class="container">
  <ul class="thread-list">
    <li *ngFor="let thread of threads; let i = index" class="post-container">
      <a [routerLink]="['/threads', thread._id]" style="text-decoration: none;">
        <div class="div-7">
          <div class="div-8">
            <div class="user-001">user: {{ getDisplayedUsername(thread) }}</div>
            <div class="time-ago">{{ formatCreatedAt(thread.created_at) }}</div>
          </div>
          <div class="div-9">
            <div *ngFor="let tag of thread.tags" class="tag">
              <a [routerLink]="['/tag-thread', tag]" style="text-decoration: none;">#{{ tag }}</a>
            </div>
          </div>
        </div>
        <div class="post-title">{{ thread.title }}</div>
        <div class="post-content">{{ truncateContent(thread.content) }}</div>
      </a>
      <div class="div-10" style="position: relative;">
        <div class="div-11">
          <a class="like-icon" (click)="toggleLike(thread)" style="text-decoration: none;">
            <img 
              loading="lazy" 
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/d7e7499a56be9b581e37d9a0bddb00227978dba8f8e63869f9048e4e4cbaf3bc?placeholderIfAbsent=true&apiKey=192ff7338de4457c8649492ee5300f1f" 
              class="img-5" 
              [ngClass]="{'liked': thread.isLiked}" 
              alt="Likes icon"
            />
            <div *ngIf="thread.likes > 0" class="likes-count">{{ thread.likes }}</div> 
          </a>
        </div>
        

        <div class="div-12">
          <a [routerLink]="['/threads', thread._id]" class="comment-icon">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a7466bc6960d24a1c98c4d6c6809f81ffc65c56595a63787cda6cc957989b4c0?placeholderIfAbsent=true&apiKey=192ff7338de4457c8649492ee5300f1f" 
                 class="img-6" alt="Comments icon" />
            <div class="comments-count">{{ thread.comments }}</div>
          </a>
        </div>         

        <div *ngIf="thread.expire_at" class="expire-at">{{ formatExpireAt(thread.expire_at) }}</div>
        <ng-container *ngIf="canEdit(thread)">
          <a [routerLink]="['/edit-thread', thread._id]" class="action-button edit-button">Edit</a>
        </ng-container>
      </div>
    </li>
  </ul>
  
  <section class="trending-page">
    <div class="trending-container">
      <h2 class="trending-title">Trending Tags #</h2>
      <div class="topic-group" *ngIf="trendingTags.length">
        <a [routerLink]="['/tag-thread', tag]" class="topic-tag" *ngFor="let tag of trendingTags">#{{ tag }}</a>
      </div>
    </div>
  </section>
</div>
