<div class="container">
    <ul class="thread-list">
        <li *ngFor="let thread of threads; let i = index" class="post-container">
            <a [routerLink]="['/threads', thread._id]" style="text-decoration: none;">
                <div class="div-7">
                    <div class="div-8">
                        <div class="user-001">user: {{ thread.user_name }}</div>
                        <div class="time-ago">{{ formatCreatedAt(thread.created_at) }}</div> <!-- Call the formatCreatedAt method -->
                    </div>
                    <div class="div-9">
                        <div class="tag">
                            {{ formatTags(thread.tags) }} <!-- Call the formatTags method -->
                        </div>
                    </div>
                </div>
                <div class="post-title">{{ thread.title }}</div>
                <div class="post-content">{{ thread.content }}</div>
                <div class="div-10">
                    <div class="div-11">
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d7e7499a56be9b581e37d9a0bddb00227978dba8f8e63869f9048e4e4cbaf3bc?placeholderIfAbsent=true&apiKey=192ff7338de4457c8649492ee5300f1f" class="img-5" alt="Likes icon" />
                        <div>{{ thread.likes }}</div>
                    </div>
                    <div class="div-12">
                        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a7466bc6960d24a1c98c4d6c6809f81ffc65c56595a63787cda6cc957989b4c0?placeholderIfAbsent=true&apiKey=192ff7338de4457c8649492ee5300f1f" class="img-6" alt="Comments icon" />
                        <div class="comments-count">{{ thread.comments }}</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
