<div class="container edit-thread-page">
  <h2 class="section-title">Edit Thread</h2>
  <form (ngSubmit)="updateThread()" class="edit-thread-form">
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        id="title"
        [(ngModel)]="threadData.title"
        name="title"
        required
        class="form-control"
        placeholder="Enter the title"
      />
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <!-- <textarea
        id="content"
        [(ngModel)]="threadData.content"
        name="content"
        required
        class="form-control"
        placeholder="Enter the content"
      ></textarea> -->
      <angular-editor [placeholder]="'Enter the content...'" [config] = 'config' [(ngModel)]="threadData.content" name="content" id="content"></angular-editor>
    </div>
    <div class="form-group">
      <label for="tags">Tags:</label>
      <input
        id="tags"
        [(ngModel)]="threadData.tags"
        name="tags"
        class="form-control"
        placeholder="Comma-separated tags"
      />
    </div>
    
    <!-- is_anonymous checkbox -->
    <div class="form-group">
      <label for="is_anonymous">Post Anonymously:</label>
      <input
        type="checkbox"
        id="is_anonymous"
        [(ngModel)]="threadData.is_anonymous"
        name="is_anonymous"
        class="form-control"
        [checked]="threadData.is_anonymous"
      />
    </div>
    
    
    <!-- expire_at date picker -->
    <div class="form-group">
      <label for="expire_at">Expiration Date:</label>
      <input
        type="datetime-local"
        id="expire_at"
        [(ngModel)]="threadData.expire_at"
        name="expire_at"
        class="form-control"
      />
    </div>

    <button type="submit" class="action-button">Update Thread</button>
  </form>
</div>
